body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* content wraps and falls to next line*/
  max-width: 1200px;
}

.box {
  background-color: #8ea86e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  /* width: 200px; */
  flex: 1 1 auto; /* shorthand for flex-grow & shrink ; order: grow shrink width */
}

.box1 {
  width: 400px;
}

/* .box2 {
  flex-grow: 2;
} */

/* .box4 {
  order: -1; /*by default, all items get an order (ordinal) # of 0
} */

h1 {
  font-size: 30vw;  
}
